# Importing dependencies

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

# Read CSV

In [2]:
artist = pd.read_csv('artists.csv')
artist.head()

,id_artists,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,NaN,Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,NaN,ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,NaN,Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,NaN,Tragruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,NaN,Ioannis Panoutsopoulos,0

In [3]:
artist.isna().sum()

id_artists         0
followers         11
genres        856500
name               3
popularity         0
dtype: int64

In [4]:
songs = pd.read_csv('tracks.csv')
songs.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists,release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,Uli,45tIt06XoI0Iio4LBEVpls,1922-02-22,0.645,0.4450,0,-13.338,1,0.4510,0.674,0.7440,0.151,0.127,104.851,3
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,Fernando Pessoa,14jtPCOoNZwquk5wd9DxrY,1922-06-01,0.695,0.2630,0,-22.136,1,0.9570,0.797,0.0000,0.148,0.655,102.009,1
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,Ignacio Corsini,5LiOoJbxVSAMkBS2fUm3X2,1922-03-21,0.434,0.1770,1,-21.180,1,0.0512,0.994,0.0218,0.212,0.457,130.418,5
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,Ignacio Corsini,5LiOoJbxVSAMkBS2fUm3X2,1922-03-21,0.321,0.0946,7,-27.961,1,0.0504,0.995,0.9180,0.104,0.397,169.980,3
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,Dick Haymes,3BiJGZsyX9sJchTqcSA7Su,1922,0.402,0.1580,3,-16.900,0,0.0390,0.989,0.1300,0.311,0.196,103.220,4

#### Cleaning data by removing null values

In [5]:
songs.isna().sum()

id                   0
name                71
popularity           0
duration_ms          0
explicit             0
artists             71
id_artists           0
release_date         0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness     0
liveness             0
valence              0
tempo                0
time_signature       0
dtype: int64

In [6]:
artist.dropna(inplace=True)
artist.isna().sum()

id_artists    0
followers     0
genres        0
name          0
popularity    0
dtype: int64

In [7]:
songs.dropna(inplace=True)
songs.isna().sum()

id                  0
name                0
popularity          0
duration_ms         0
explicit            0
artists             0
id_artists          0
release_date        0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
dtype: int64

##### Dropping unnecessary columns

In [8]:
columns_to_drop = ['release_date', 'danceability', 'energy', 'key', 'loudness', 'mode', 
                   'speechiness', 'acousticness', 'instrumentalness', 'liveness', 
                   'valence', 'tempo', 'time_signature']

songs = songs.drop(columns=columns_to_drop)

songs.head()

,id,name,popularity,duration_ms,explicit,artists,id_artists
0,35iwgR4jXetI318WEWsa1Q,Carve,6,126903,0,Uli,45tIt06XoI0Iio4LBEVpls
1,021ht4sdgPcrDgSk7JTbKY,Capítulo 2.16 - Banquero Anarquista,0,98200,0,Fernando Pessoa,14jtPCOoNZwquk5wd9DxrY
2,07A5yehtSnoedViJAZkNnc,Vivo para Quererte - Remasterizado,0,181640,0,Ignacio Corsini,5LiOoJbxVSAMkBS2fUm3X2
3,08FmqUhxtyLTn6pAh6bk45,El Prisionero - Remasterizado,0,176907,0,Ignacio Corsini,5LiOoJbxVSAMkBS2fUm3X2
4,08y9GfoqCWfOGsKdwojr5e,Lady of the Evening,0,163080,0,Dick Haymes,3BiJGZsyX9sJchTqcSA7Su

In [9]:
artist.shape

(305589, 5)

In [10]:
songs.shape

(586601, 7)

Combining the data

In [11]:
df = pd.merge(artist, songs, left_on='id_artists', right_on='id_artists', how='inner')
df.tail()

,id_artists,followers,genres,name_x,popularity_x,id,name_y,popularity_y,duration_ms,explicit,artists
432223,3ts767KZu2G9NuvOUdGoaE,141.0,zolo,Rascal Reporters,2,2tQ2WhLWGacmIgdc8Crx0o,For the Years 2002 and 2003 Which Were Lost to Me,0,185754,0,Rascal Reporters
432224,55AlphE9y02SH7btUJJfQF,6263.0,"geek folk, neo-pagan",Heather Alexander,32,4VtNnhhAdqsveft3dFLrH5,March Of Cambreadth,40,287067,0,Heather Alexander
432225,10aXVE8RSUCeMzaFvBnZ2i,23145.0,"alternative metal, industrial metal, industria...",Pitchshifter,38,4GtKwWPKlVWrhmCmOGFb51,Genius,48,246507,0,Pitchshifter
432226,6ok7bEDf9CZ0448D59AaNL,48046.0,"pop punk, tulsa indie",Ludo,48,0YWpTcWjDsbogUMjkE1PiJ,Love Me Dead,42,260533,0,Ludo
432227,6ok7bEDf9CZ0448D59AaNL,48046.0,"pop punk, tulsa indie",Ludo,48,3IlYkyctlcTqXAZOA4ZPzz,Love Me Dead,54,260533,0,Ludo

## Data Preprocessing

#### creating new feature combining title and artist name

In [12]:
df['song'] = df['name_x']+' - '+df['name_y']
# df['song'] = df['name_y'] + '(' + df['genres'] + ')'
df.head()

,id_artists,followers,genres,name_x,popularity_x,id,name_y,popularity_y,duration_ms,explicit,artists,song
0,72578usTM6Cj5qWsi471Nc,248568.0,"filmi, indian folk, indian rock, kannada pop",Raghu Dixit,52,0WzODQag2H6Ob1JPOpSYSM,Eno Ide,29,342230,0,Raghu Dixit,Raghu Dixit - Eno Ide
1,72578usTM6Cj5qWsi471Nc,248568.0,"filmi, indian folk, indian rock, kannada pop",Raghu Dixit,52,4uqs4He9JdU4ztAQtsgmyF,Ee Tanuvu Ninnade,28,310753,0,Raghu Dixit,Raghu Dixit - Ee Tanuvu Ninnade
2,72578usTM6Cj5qWsi471Nc,248568.0,"filmi, indian folk, indian rock, kannada pop",Raghu Dixit,52,555NYWQ1PbmLJiTW6XFwtr,Munjaane Manjalli,42,340245,0,Raghu Dixit,Raghu Dixit - Munjaane Manjalli
3,72578usTM6Cj5qWsi471Nc,248568.0,"filmi, indian folk, indian rock, kannada pop",Raghu Dixit,52,7yhvflcXyqw1pQgCSnelZ4,Gudugudiya Sedi Nodo,38,295010,0,Raghu Dixit,Raghu Dixit - Gudugudiya Sedi Nodo
4,72578usTM6Cj5qWsi471Nc,248568.0,"filmi, indian folk, indian rock, kannada pop",Raghu Dixit,52,6J8qcTesEfzpGhZjBa6kfV,Ambar,38,476241,0,Raghu Dixit,Raghu Dixit - Ambar

In [13]:
df.sample(25000, replace=True).to_csv('newdataset.csv')

Taking random 20,000 samples

In [54]:
df = pd.read_csv('newdataset.csv')

### Dropping Unnecessary columns

In [55]:
columns_to_drop = ['id_artists', 'followers',	'genres',	'name_x',	'popularity_x',	'id',	'name_y',	'popularity_y',	'duration_ms',	'explicit',	'artists']

df.drop(columns=columns_to_drop)

        Unnamed: 0                                               song
0           353737  Eminem - Lose Yourself - From "8 Mile" Soundtrack
1           425404                                Adiss - Som aký som
2            22345               Fenyo Miklós - Várni rád egy éjen át
3           160019                                 Tanya Chua - 紅色高跟鞋
4           329130  Extremoduro - Pepe Botika (Dónde están mis ami...
...            ...                                                ...
249995      268428                                 Göksel - Çaresizim
249996      283041             Marcos Witt - Alzo mis manos ante Dios
249997      211131  Die Originale - 002 - Der Graf von Monte Chris...
249998      216275                      Horacio Guarany - Amar Amando
249999      409062                             Solar Quest - Singtree

[250000 rows x 2 columns]

Dropping duplicates

In [56]:
df.drop_duplicates(inplace=True)

In [57]:
df = df.head(20000)

In [58]:
song_grouped = df.groupby(['song']).agg({'genres':'first'}).reset_index()
song_grouped.head()

,song,genres
0,"""Weird Al"" Yankovic - White & Nerdy (Parody of...","comedy rock, comic, parody"
1,$ourJ - Ravekid,latvian hip hop
2,$uicideboy$ - Dead Batteries,"dark trap, new orleans rap, underground hip hop"
3,(G)I-DLE - HANN (Alone),"k-pop, k-pop girl group"
4,*NSYNC - Bye Bye Bye,"boy band, dance pop, pop, post-teen pop"

## Creating recommendation engin

Create a CountVectorizer and fit it to the combined features

In [59]:
vectorizer = CountVectorizer().fit(df['song'])

Transform the combined features into a matrix of token counts

In [60]:
count_matrix = vectorizer.transform(df['song'])

Compute the cosine similarity matrix from the count matrix

In [61]:
cosine_sim = cosine_similarity(count_matrix)

In [67]:
df[df['song'] == 'Eminem - Kill You']

,Unnamed: 0,id_artists,followers,genres,name_x,popularity_x,id,name_y,popularity_y,duration_ms,explicit,artists,song
14875,353716,7dGJo4pcD2V6oG8kP0tJRR,43747833.0,"detroit hip hop, hip hop, rap",Eminem,94,5eGEc27nnhtmcOh6RC890a,Kill You,70,264400,1,Eminem,Eminem - Kill You

In [68]:
cosine_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [69]:
def recommend_songs(title):
    if title not in df['song'].values:
        return 'Song not found in the dataset'
    idx = df[df['song'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    song_indices = [i[0] for i in sim_scores[1:21]]
    return df['song'].iloc[song_indices]

# Printing Recommendation

In [70]:
recommend_songs(title='Eminem - Kill You')

18641       Dan Fogelberg - Promises Made
10102    Dan Fogelberg - A Love Like This
17771       Dan Fogelberg - The Last Nail
1989                    Heart - Heartless
3489                        Heart - Alone
3831                  G.R.L. - Ugly Heart
1796               Christopher - My Heart
2773                 Sheila On 7 - Dan...
5993                       Leo Dan - Lili
6099                Peterpan - Dan Hilang
6827                      Leo Dan - Celia
7144                      Steely Dan - FM
9456                     Dan Balan - Люби
10084                    Steely Dan - Peg
15404              Ramones - Poison Heart
15943                 Dan Seals - Lullaby
16274               Gene Rockwell - Heart
16900                Heart - Mistral Wind
17090             Dan Spataru - Drumurile
17731             Dan Wilson - Breathless
Name: song, dtype: object

In [71]:
import pickle
pickle.dump(cosine_sim,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))